@use 'sass:list';
@use './vars';


@mixin all-styles($styles) {
  @each $property, $value in $styles {
    #{$property}: $value;
  }
}

@mixin fullsize {
  width: 100%;
  height: 100%;
}

@mixin flex($styles: ()) {
  display: flex;

  @include all-styles($styles);
}

@mixin flex-column($styles: ()) {
  @include flex((flex-direction: column));
  @include all-styles($styles);
}

@mixin centered-flex($styles: ()) {
  @include flex((justify-content: center, align-items: center));
  @include all-styles($styles);
}

@mixin centered-flex-column($styles: ()) {
  @include centered-flex((flex-direction: column));
  @include all-styles($styles);
}

@mixin absolute($styles: ()) {
  position: absolute;

  @include all-styles($styles);
}

@mixin relative($styles: ()) {
  position: relative;

  @include all-styles($styles);
}

@mixin fixed($styles: ()) {
  position: fixed;

  @include all-styles($styles);
}

@mixin sticky($styles: ()) {
  position: sticky;

  @include all-styles($styles);
}

@mixin disabled($opacity: 0.5) {
  pointer-events: none;
  cursor: default;
  opacity: $opacity;
}

@mixin laptop($bottom: 760px, $upper: 1024px) {
  @media only screen and (min-device-width: $bottom) and (max-device-width: $upper) {
    @content;
  }
}

@mixin mobile($bottom: 320px, $upper: 760px) {
  @media only screen and (min-device-width: $bottom) and (max-device-width: $upper) {
    @content;
  }
}

@mixin media($type, $size, $firstSize, $secondSize: 0) {
  @if $type == under {
    @media (max-#{$size}: #{$firstSize}) {
      @content;
    }
  } @else if $type == above {
    @media (min-#{size}: #{$firstSize}) {
      @content;
    }
  } @else {
    @media (min-#{$size}: #{$firstSize}) and (#{max-$size}: #{$secondSize}) {
      @content;
    }
  }
}

@mixin transition($args...) {
  $res: '';
  $default: vars.$rest-defaultTransitionDuration ease-out;

  // проходимся по каждому из переданных свойств
  @for $i from 0 to list.length($args) {
    // проходимся по каждому аргументу как по мапе
    
    @each $prop, $value in list.nth($args, $i + 1) {
      /**
       *  @todo: сделать, чтобы добавление запятой было внутри этого цикла
       * Это позволит перейти от записи вида 
       *   @include transition(
       *     (border-color: $transitionTime ease-out),
       *     (box-shadow: $transitionTime ease-out)
       *   );
       * к записи вида
       *   @include transition((
       *     border-color: $transitionTime ease-out,
       *     box-shadow: $transitionTime ease-out
       *   ));
       */
      $val: $value;
      
      @if $value == null {
        $val: $default;
      }

      $res: #{$res} + #{$prop} + ' ' + #{$val};
    }

    @if $i != list.length($args) - 1 {
      $res: #{$res} + ', ';
    }
  }

  transition: $res;
}

@mixin with-pseudo-before($styles) {
  &::before {
    @include fullsize;
    @include absolute;

    content: '';

    @include all-styles($styles);
  }
}

@mixin with-pseudo-after($styles) {
  &::after {
    @include fullsize;
    @include absolute;

    content: '';

    @include all-styles($styles);
  }
}

@mixin with-ellipsis($maxWidth: 100%) {
  max-width: $maxWidth;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}

@mixin container-query-base($name, $type) {
  container: #{$name} / #{$type};
  box-sizing: unset;
}