$desktopH1: 800 56px / 100% Inter;
$mobileH1: 800 32px / 100% Inter;

$desktopH2: 800 48px / 100% Inter;
$mobileH2: 800 28px / 100% Inter;

$desktopH3: 800 40px / 100% Inter;
$mobileH3: 800 24px / 100% Inter;

$desktopH4: 800 32px / 100% Inter;
$mobileH4: 800 20px / 100% Inter;

$desktopH5: 800 24px / 100% Inter;
$mobileH5: 800 16px / 100% Inter;

$buttonL: 600 20px / 140% Inter;
$buttonM: 600 16px / 100% Inter;
$buttonS: 600 12px / 100% Inter;

$textL: 500 20px / 140% Inter;
$textM: 500 16px / 140% Inter;
$textS: 500 12px / 140% Inter;

$textExtraBoldXL: 800 24px / 100% Inter;
$textExtraBoldL: 800 20px / 100% Inter;

$textBoldL: 700 20px / 100% Inter;
$textBoldM: 700 16px / 100% Inter;
$textBoldS: 700 12px / 100% Inter;
$textBoldXS: 700 8px /100% Inter;

$mobileTextBoldL: 700 16px / 100% Inter;
