$g4: 4px;
$g8: 8px;
$g12: 12px;
$g16: 16px;
$g24: 24px;
$g28: 28px;
$g40: 40px;
$g48: 48px;

$x2s: 4px;
$xs: 8px;
$s: 10px;
$m: 24px;
$l: 40px;
$xl: 48px;

$adaptive-s: 1rem;
$adaptive-m: 1.5rem;
$adaptive-l: 4rem;