@use '~scss/mixins' as *;
@use '~scss/vars';


@layer residence {
  .Avatar {
    width: var(--avatarSize, 48px);
    height: var(--avatarSize, 48px);
    --p-avatar-background: var(--avatarBackground, #{vars.$colors-black});
    --p-avatar-lg-width: 9rem;
    --p-avatar-xl-width: 12rem;
    &__label {
      font-size: var(--avatarLabelFontSize, #{vars.$fs-m});
      font-weight: vars.$fw-bold;
      color: vars.$colors-white;
    }
  }

  @include mobile {
    .Avatar {
      font-size: var(--avatarLabelFontSize, #{vars.$fs-x2l});
    }
  }
}