@use '~scss/mixins' as *;
@use '~scss/vars';


@layer residence {
  .Badge {
    --p-overlaybadge-outline-width: 0;
    --p-badge-primary-background: #{vars.$colors-beige};
    --p-badge-height: var(--badgeHeight, 18px);
    --p-badge-min-width: var(--badgeMinWidth, 18px);
    --p-badge-font-size: var(--badgeFontSize, #{vars.$fs-static-xs});
    transform: translate(var(--badgeTranslateX, 50%), var(--badgeTranslateY, -50%));
  }

  @include mobile {
    .Badge {
      --badgeHeight: 12px;
      --badgeFontSize: #{vars.$fs-static-x2s};
      --badgeMinWidth: 12px;
    }
  }
}