
@use '~scss/mixins' as *;
@use '~scss/vars';


@layer residence {
  .Chip {
    max-width: 195px;
    width: fit-content;
    height: 28px;
    padding: 4px 8px;
    border-radius: vars.$br-x2s;
    background-color: vars.$colors-beige;
    &__label {
      color: vars.$colors-white;
      font-size: vars.$fs-s;
      font-weight: vars.$fw-bold;
    }
  }
}