@use '~scss/mixins' as *;
@use '~scss/vars';


@layer residence {
  .InputText {
    --p-inputtext-focus-border-color: none;
    height: 48px;

    &,
    &::placeholder {
      font-size: var(--inputFontSize, var(--staticFontSize-S-XS));
    }

    &::placeholder {
      opacity: 0.5;
    }
  }

  @include mobile {
    .InputText {
      height: 44px;
      --p-inputtext-padding-x: 12px;
      --p-inputtext-padding-y: 12px;
    }
  }
}

