@use '~scss/mixins' as *;
@use '~scss/vars';


@layer residence {
  .InputText {
    --p-inputtext-focus-border-color: none;
    height: 48px;

    &,
    &::placeholder {
      font-size: var(--inputFontSize, #{vars.$fs-static-s});
    }

    &::placeholder {
      opacity: 0.5;
    }
  }

  @include mobile {
    .InputText {
      height: 44px;
      --inputFontSize: #{vars.$fs-static-xs};
    }
  }
}

