@use '~scss/mixins' as *;
@use '~scss/vars';


@layer residence {
  .InputText {
    --p-inputtext-focus-border-color: none;
    height: 48px;
  }

  @include mobile {
    .InputText {
      height: 44px;
      font-size: vars.$fs-static-xs;
    }
  }
}

