@use '~scss/mixins' as *;
@use '~scss/vars';

@layer residence {
  .SelectButton {
    @include flex((gap: vars.$gaps-g16));

    --backgroundColor: #{vars.$colors-black};
    --hoverBackgroundColor: #{vars.$colors-white};
    --borderColor: #{vars.$colors-white};
    --color: #{vars.$colors-white};
    --hoverColor: #{vars.$colors-black};
    --checkedBackgroundColor: #{vars.$colors-white};
    --checkedBorderColor: #{vars.$colors-white};
    --checkedColor: #{vars.$colors-black};

    & button {
      @include flex((flex-grow: 1));
  
      --p-togglebutton-background: var(--backgroundColor);
      --p-togglebutton-hover-background: var(--hoverBackgroundColor);
      --p-togglebutton-border-color: var(--borderColor);
  
      --p-togglebutton-color: var(--color);
      --p-togglebutton-hover-color: var(--hoverColor);
  
      --p-togglebutton-checked-background: var(--checkedBackgroundColor);
      --p-togglebutton-checked-border-color: var(--checkedBorderColor);
      --p-togglebutton-checked-color: var(--checkedColor);
  
      border-radius: vars.$br-s;
      border-width: 3px;
  
      &::before {
        content: none;
      }
    }
  }
}