@use '~scss/mixins' as *;
@use '~scss/vars';


@layer residence {
  .TextArea {
    --p-textarea-focus-border-color: none;
    --textAreaFontSize: #{vars.$fs-static-s};
    &,
    &::placeholder {
      font-size: var(--textAreaFontSize);
    }
  }

  @include mobile {
    .TextArea {
      --textAreaFontSize: #{vars.$fs-static-xs};
    }
  }
}

